@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Cabin', Helvetica, sans-serif;
}

.panelContainer {
  height: 70vh;
  width: 70vh;
  position: relative;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, 50px) repeat(3, 4fr) repeat(2, 50px);
  grid-template-rows: repeat(2, 50px) repeat(3, 4fr) repeat(2, 50px);
  grid-template-areas:  "n n n n n n n"
                        "w na na na na na e"
                        "w wa p p p ea e"
                        "w wa p p p ea e"
                        "w wa p p p ea e"
                        "w sa sa sa sa sa e"
                        "s s s s s s s";

  &::after {
    content: '';
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    position: absolute;
    top: calc((100% - (100% - 100px)) / 2 );
    left: calc((100% - (100% - 100px)) / 2);
    border-radius: 60vh;
    border: 1px solid black;
  }
}

.solarPanelOrientator {
  margin: auto;
  padding: 0 20vh;
  box-sizing: border-box;
}



.cardinal,
.angle {
  align-self: center;
  justify-self: center;
  text-align: center;
  text-transform: uppercase;
  font-size: .9rem;
}

.cardinal {
  font-weight: bold;

  &.north {
    grid-area: n;
  }
  
  &.south {
    grid-area: s;
  }
  
  &.east {
    grid-area: e;
  }
  
  &.west {
    grid-area: w;
  }
}

.angle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
  
  &.north {
    grid-area: na;
  }
  
  &.south {
    grid-area: sa;
  }
  
  &.west {
    grid-area: wa;
  }
  
  &.east {
    grid-area: ea;
  }
}

.east,
.west {
  align-self: center;
}

.east {
  text-align: left;
}

.west {
  text-align: right;
}

.north,
.south {
  text-align: center;
}

.south {
  align-self: flex-end;
}




.panel {
  grid-area: p;
  border-radius: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;

  .arrow {
    width: 10%;
    position: absolute;
    top: 0;
  }

  img {
    height: 75%;
    transition: .4s;
  }
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #325288;
  border-radius: 10px;
  padding: 20px;

  label {
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }

  input {
    display: block;
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .btn {
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Cabin';
    width: 100%;

    &.primary {
      background-color: #fff;
    }

    &.secondary {
      color: #fff;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.toggle {
  appearance: none;
  position: relative;
  cursor: pointer;
  padding: 0!important;

  &:checked {
    &::after {
      left: 20px;
    }
  }

  &::after,
  &::before {
    border-radius: 20px;
    height: 20px;
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &::before {
    width: 40px;
    background-color: #fff;

  }
  &::after {
    left: 0;
    width: 20px;
    background-color: #333;
    border : 2px solid #fff;
    transition: .2s;
  }

}